body {
      font-family: 'Poppins', sans-serif;
      scroll-behavior: smooth;
    }

    /* Navbar */
    .navbar {
      background: linear-gradient(90deg, #e6ff01, #f81010, rgb(69, 45, 201));
    }

    .navbar-brand, .nav-link {
      color: white !important;
      font-weight: 600;
    }

    .nav-link:hover {
      text-decoration: none;
    }

    /* Home Section */
    #home {
      background: linear-gradient(135deg, #00c6ff, #0072ff);
      color: white;
      padding: 120px 0;
      text-align: center;
    }
    .flag{
      position: absolute;
      grid-template-rows: 20px;
      right: 20px;
      width: 50px;
      border-radius: 60%;
    }

    #home h1 {
      font-size: 3rem;
      font-weight: 700;
    }

    #home p {
      font-size: 1.2rem;
    }

    /* About Section */
    #about {
      padding: 80px 0;
    }

    /* Programs Section */
    #programs {
      background-color: #f8f9fa;
      padding: 80px 0;
    }

    .program-card {
      transition: transform 0.3s ease;
    }

    .program-card:hover {
      transform: translateY(-5px);
    }

    /* Team Section */
    #team {
      padding: 80px 0;
    }

    .team-member img {
      border-radius: 50%;
      width: 150px;
      height: 150px;
      object-fit: cover;
    }
    .members img {
      border-radius: 20%;
      width: 300px;
      height: 300px;
      object-fit: cover;
      
    }

    /* Contact Section */
    #contact {
      background: linear-gradient(90deg, #0072ff, #3ec500fd, #ff0000);
      color: white;
      padding: 80px 0;
    }

    footer {
      background-color: black;
      color: white;
      text-align: center;
      padding: 20px;
    }